# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
.venv/
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit cache
.streamlit/

# Ignore personal data file (optional)
expense_data.csv
